body {
  background-color: #f1f3f6;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content-body {
  padding: 20px 0;
}
.tright {
  text-align: right;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
