html,
body,
#app,
#app > div {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -40px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer,
.page-wrap:after {
  height: 40px;
}
