body {
  background-color: #f1f3f6;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content-body {
  padding: 20px 0;
}
.tright {
  text-align: right;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
header {
  background-color: #000;
  color: #fff;
  box-shadow: 0px 5px 5px #888888;
}
header .logo,
header .top-right-nav {
  padding: 10px 0;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
}
html,
body,
#app,
#app > div {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -40px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer,
.page-wrap:after {
  height: 40px;
}
.search-bar {
  background-color: #d8d8d8;
  padding: 15px 0;
}
.uploader {
  background-color: #f1f3f6;
  padding: 15px 0;
}
.uploader .video-area,
.uploader .image-area {
  height: 200px;
  border: dashed 2px #666;
  background-color: #fff;
}
.user a {
  display: block;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-decoration: none;
}
