body {
  font-size: 13px;
}
body .page-title {
  font-size: 16px;
  padding: 10px 15px;
  border-width: 1px 0;
  border-style: solid;
  font-weight: 700;
}
body .bread-crumb {
  padding: 10px 15px;
}
.row.gutter-sm {
  margin-right: -5px;
  margin-left: -5px;
}
.row.gutter-sm > [class^="col-"],
.row.gutter-sm > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.t-right {
  text-align: right;
}
.advertiser-create .container {
  margin-left: 0;
}
